* {
            /* Reset box model of all elements */
            margin: 0;
            padding: 0;
            border: 0;
            outline: none;
        }

        html {
            /* set up standard font props */
            font-size: 10px;
            font-family: Calibri, sans-serif;
        }

        body {
            /* center content vertically and horizontally */
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        header {
            /* includes page title and accessibility button  */
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
        }

        .logo {
            /* chnage logo's colour to blue  */
            fill: #249AC5;
        }

        .blind .logo {
            /* change logo's colour to black when blind mode's active */
            fill: #000;
        }

        .blind body,
        .blind p,
        .blind li,
        .blind button,
        .blind input::placeholder,
        .blind h1,
        .blind textarea {
            /*  change appearance of all elements to black when blind mode's active */
            color: black !important;
            opacity: 1 !important;
        }

        .blind span {
            font-size: 2rem;
        }

        span {
            font-weight: bold;
        }

        .blind button {
            color: #000 !important;
            background-color: transparent !important;
            opacity: 1 !important;
            border-color: transparent !important;
        }

        .blind button:hover {
            background-color: transparent !important;
            color: black !important;
            border-color: transparent !important;
            opacity: 1 !important
        }

        .blind #blind-mode {
            background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg width='25px' height='17px' viewBox='0 0 25 17' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3c!-- Generator: Sketch 48.1 (47250) - http://www.bohemiancoding.com/sketch --%3e%3cdesc%3eCreated with Sketch.%3c/desc%3e%3cdefs%3e%3c/defs%3e%3cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' opacity=''%3e%3cg id='VET' transform='translate(-610.000000, -97.000000)' fill='%23000000' fill-rule='nonzero'%3e%3cg id='Group-7' transform='translate(179.000000, 21.000000)'%3e%3cg id='Group-5'%3e%3cg id='Group-6' transform='translate(304.000000, 61.000000)'%3e%3cg id='noun_1267540_cc' opacity='' transform='translate(127.000000, 15.000000)'%3e%3cpath d='M4.6,17 C4.62857143,17 4.68571429,17 4.71428571,17 C4.77142857,17 4.82857143,17 4.88571429,17 C4.94285714,17 5,17 5.05714286,17 C5.08571429,17 5.14285714,17 5.17142857,17 C9,16.7969229 9.74285714,14.1859321 9.77142857,14.0698881 C9.77142857,14.0118661 9.8,13.982855 9.8,13.924833 L9.8,9.25406055 L15.1714286,9.25406055 L15.1714286,13.924833 C15.1714286,13.982855 15.1714286,14.0408771 15.2,14.0698881 C15.2285714,14.1859321 15.9714286,16.8259339 19.8,17 C19.8285714,17 19.8857143,17 19.9142857,17 C19.9714286,17 20.0285714,17 20.0857143,17 C20.1428571,17 20.2,17 20.2571429,17 C20.2857143,17 20.3428571,17 20.3714286,17 C24.2,16.7969229 24.9428571,14.1859321 24.9714286,14.0698881 C24.9714286,14.0118661 25,13.982855 25,13.924833 L25,8.70285138 C25,8.58680734 24.9714286,8.4707633 24.9142857,8.35471927 C24.7142857,8.1516422 21.4857143,3.04570459 20.1714286,1.45009908 C19.8571429,1.07295596 18.7428571,-0.17451743 17.5142857,0.0285596337 C16.7428571,0.17361468 16.1428571,0.811856881 15.7714286,1.97229725 C15.6571429,2.26240734 15.8285714,2.61053945 16.1142857,2.69757248 C16.4,2.81361651 16.7428571,2.63955046 16.8285714,2.34944037 C16.9714286,1.94328624 17.2571429,1.24702202 17.7142857,1.189 C18.1714286,1.10196697 18.8571429,1.65317615 19.2857143,2.20438532 C20.2285714,3.36482569 22.2857143,6.5560367 23.2857143,8.12263119 L21,8.12263119 L19.0285714,8.12263119 L15.7142857,8.12263119 C15.7142857,8.12263119 15.6857143,8.12263119 15.6857143,8.12263119 C15.6857143,8.12263119 15.6571429,8.12263119 15.6571429,8.12263119 L9.2,8.12263119 L8.94285714,8.12263119 L5.85714286,8.12263119 L3.88571429,8.12263119 L1.6,8.12263119 C2.6,6.5560367 4.68571429,3.36482569 5.6,2.20438532 C6.02857143,1.65317615 6.71428571,1.10196697 7.17142857,1.189 C7.6,1.27603303 7.91428571,1.94328624 8.05714286,2.34944037 C8.17142857,2.63955046 8.48571429,2.81361651 8.77142857,2.69757248 C9.05714286,2.58152844 9.22857143,2.26240734 9.11428571,1.97229725 C8.71428571,0.840867891 8.14285714,0.17361468 7.37142857,0.0285596337 C6.17142857,-0.20352844 5.05714286,1.04394495 4.74285714,1.42108807 C3.51428571,2.95867156 0.571428571,7.60043303 0.142857143,8.26768624 C0.0571428571,8.38373028 0,8.49977431 0,8.64482936 L0,13.895822 C0,13.953844 0,14.0118661 0.0285714286,14.0408771 C0.0285714286,14.1859321 0.771428571,16.7969229 4.6,17 Z M16.2857143,9.25406055 L19.0571429,9.25406055 L21.0285714,9.25406055 L23.8,9.25406055 L23.8,13.808789 C23.6857143,14.1569211 22.9428571,15.7815376 20.0571429,15.8395596 C17.1714286,15.7815376 16.4285714,14.1569211 16.3142857,13.808789 L16.3142857,9.25406055 L16.2857143,9.25406055 Z M5.85714286,9.25406055 L8.62857143,9.25406055 L8.62857143,13.808789 C8.51428571,14.1569211 7.77142857,15.7815376 4.88571429,15.8395596 C2,15.7815376 1.25714286,14.1569211 1.14285714,13.808789 L1.14285714,9.25406055 L3.91428571,9.25406055 L5.85714286,9.25406055 Z' id='Shape'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e") !important;
            border-color: black !important;
        }



        #page-details {
            display: flex;
            align-items: center;
        }

        #page-details>* {
            margin-right: 10px;
        }

        #container {
            /* interface size  */
            width: 500px;
            padding: 40px;
            border: 2px solid rgba(0, 0, 0, .1);
            border-radius: 40px;
        }

        #blind-mode {
            /* accessibility button's look  */
            background-color: transparent;
            background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg width='25px' height='17px' viewBox='0 0 25 17' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3c!-- Generator: Sketch 48.1 (47250) - http://www.bohemiancoding.com/sketch --%3e%3cdesc%3eCreated with Sketch.%3c/desc%3e%3cdefs%3e%3c/defs%3e%3cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' opacity=''%3e%3cg id='VET' transform='translate(-610.000000, -97.000000)' fill='%23000000' fill-rule='nonzero'%3e%3cg id='Group-7' transform='translate(179.000000, 21.000000)'%3e%3cg id='Group-5'%3e%3cg id='Group-6' transform='translate(304.000000, 61.000000)'%3e%3cg id='noun_1267540_cc' opacity='' transform='translate(127.000000, 15.000000)'%3e%3cpath d='M4.6,17 C4.62857143,17 4.68571429,17 4.71428571,17 C4.77142857,17 4.82857143,17 4.88571429,17 C4.94285714,17 5,17 5.05714286,17 C5.08571429,17 5.14285714,17 5.17142857,17 C9,16.7969229 9.74285714,14.1859321 9.77142857,14.0698881 C9.77142857,14.0118661 9.8,13.982855 9.8,13.924833 L9.8,9.25406055 L15.1714286,9.25406055 L15.1714286,13.924833 C15.1714286,13.982855 15.1714286,14.0408771 15.2,14.0698881 C15.2285714,14.1859321 15.9714286,16.8259339 19.8,17 C19.8285714,17 19.8857143,17 19.9142857,17 C19.9714286,17 20.0285714,17 20.0857143,17 C20.1428571,17 20.2,17 20.2571429,17 C20.2857143,17 20.3428571,17 20.3714286,17 C24.2,16.7969229 24.9428571,14.1859321 24.9714286,14.0698881 C24.9714286,14.0118661 25,13.982855 25,13.924833 L25,8.70285138 C25,8.58680734 24.9714286,8.4707633 24.9142857,8.35471927 C24.7142857,8.1516422 21.4857143,3.04570459 20.1714286,1.45009908 C19.8571429,1.07295596 18.7428571,-0.17451743 17.5142857,0.0285596337 C16.7428571,0.17361468 16.1428571,0.811856881 15.7714286,1.97229725 C15.6571429,2.26240734 15.8285714,2.61053945 16.1142857,2.69757248 C16.4,2.81361651 16.7428571,2.63955046 16.8285714,2.34944037 C16.9714286,1.94328624 17.2571429,1.24702202 17.7142857,1.189 C18.1714286,1.10196697 18.8571429,1.65317615 19.2857143,2.20438532 C20.2285714,3.36482569 22.2857143,6.5560367 23.2857143,8.12263119 L21,8.12263119 L19.0285714,8.12263119 L15.7142857,8.12263119 C15.7142857,8.12263119 15.6857143,8.12263119 15.6857143,8.12263119 C15.6857143,8.12263119 15.6571429,8.12263119 15.6571429,8.12263119 L9.2,8.12263119 L8.94285714,8.12263119 L5.85714286,8.12263119 L3.88571429,8.12263119 L1.6,8.12263119 C2.6,6.5560367 4.68571429,3.36482569 5.6,2.20438532 C6.02857143,1.65317615 6.71428571,1.10196697 7.17142857,1.189 C7.6,1.27603303 7.91428571,1.94328624 8.05714286,2.34944037 C8.17142857,2.63955046 8.48571429,2.81361651 8.77142857,2.69757248 C9.05714286,2.58152844 9.22857143,2.26240734 9.11428571,1.97229725 C8.71428571,0.840867891 8.14285714,0.17361468 7.37142857,0.0285596337 C6.17142857,-0.20352844 5.05714286,1.04394495 4.74285714,1.42108807 C3.51428571,2.95867156 0.571428571,7.60043303 0.142857143,8.26768624 C0.0571428571,8.38373028 0,8.49977431 0,8.64482936 L0,13.895822 C0,13.953844 0,14.0118661 0.0285714286,14.0408771 C0.0285714286,14.1859321 0.771428571,16.7969229 4.6,17 Z M16.2857143,9.25406055 L19.0571429,9.25406055 L21.0285714,9.25406055 L23.8,9.25406055 L23.8,13.808789 C23.6857143,14.1569211 22.9428571,15.7815376 20.0571429,15.8395596 C17.1714286,15.7815376 16.4285714,14.1569211 16.3142857,13.808789 L16.3142857,9.25406055 L16.2857143,9.25406055 Z M5.85714286,9.25406055 L8.62857143,9.25406055 L8.62857143,13.808789 C8.51428571,14.1569211 7.77142857,15.7815376 4.88571429,15.8395596 C2,15.7815376 1.25714286,14.1569211 1.14285714,13.808789 L1.14285714,9.25406055 L3.91428571,9.25406055 L5.85714286,9.25406055 Z' id='Shape'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-position: right 10px center;
            border: 2px solid #000;
            border-radius: 100px;
            padding: 10px 46px 10px 10px;
            font-size: 1.2rem;
            font-weight: 500;
            color: #000000;
            letter-spacing: 0;
            line-height: 12px;
            text-transform: uppercase;
            max-width: 160px;
            text-align: right;
            opacity: 0.5;
            cursor: pointer;
        }

        #blind-mode:hover {
            color: #81C5DE;
            border-color: #81C5DE;
            opacity: 1;
            background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg width='25px' height='17px' viewBox='0 0 25 17' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3c!-- Generator: Sketch 48.1 (47250) - http://www.bohemiancoding.com/sketch --%3e%3cdesc%3eCreated with Sketch.%3c/desc%3e%3cdefs%3e%3c/defs%3e%3cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' opacity=''%3e%3cg id='VET' transform='translate(-610.000000, -97.000000)' fill='%2381C5DE' fill-rule='nonzero'%3e%3cg id='Group-7' transform='translate(179.000000, 21.000000)'%3e%3cg id='Group-5'%3e%3cg id='Group-6' transform='translate(304.000000, 61.000000)'%3e%3cg id='noun_1267540_cc' opacity='' transform='translate(127.000000, 15.000000)'%3e%3cpath d='M4.6,17 C4.62857143,17 4.68571429,17 4.71428571,17 C4.77142857,17 4.82857143,17 4.88571429,17 C4.94285714,17 5,17 5.05714286,17 C5.08571429,17 5.14285714,17 5.17142857,17 C9,16.7969229 9.74285714,14.1859321 9.77142857,14.0698881 C9.77142857,14.0118661 9.8,13.982855 9.8,13.924833 L9.8,9.25406055 L15.1714286,9.25406055 L15.1714286,13.924833 C15.1714286,13.982855 15.1714286,14.0408771 15.2,14.0698881 C15.2285714,14.1859321 15.9714286,16.8259339 19.8,17 C19.8285714,17 19.8857143,17 19.9142857,17 C19.9714286,17 20.0285714,17 20.0857143,17 C20.1428571,17 20.2,17 20.2571429,17 C20.2857143,17 20.3428571,17 20.3714286,17 C24.2,16.7969229 24.9428571,14.1859321 24.9714286,14.0698881 C24.9714286,14.0118661 25,13.982855 25,13.924833 L25,8.70285138 C25,8.58680734 24.9714286,8.4707633 24.9142857,8.35471927 C24.7142857,8.1516422 21.4857143,3.04570459 20.1714286,1.45009908 C19.8571429,1.07295596 18.7428571,-0.17451743 17.5142857,0.0285596337 C16.7428571,0.17361468 16.1428571,0.811856881 15.7714286,1.97229725 C15.6571429,2.26240734 15.8285714,2.61053945 16.1142857,2.69757248 C16.4,2.81361651 16.7428571,2.63955046 16.8285714,2.34944037 C16.9714286,1.94328624 17.2571429,1.24702202 17.7142857,1.189 C18.1714286,1.10196697 18.8571429,1.65317615 19.2857143,2.20438532 C20.2285714,3.36482569 22.2857143,6.5560367 23.2857143,8.12263119 L21,8.12263119 L19.0285714,8.12263119 L15.7142857,8.12263119 C15.7142857,8.12263119 15.6857143,8.12263119 15.6857143,8.12263119 C15.6857143,8.12263119 15.6571429,8.12263119 15.6571429,8.12263119 L9.2,8.12263119 L8.94285714,8.12263119 L5.85714286,8.12263119 L3.88571429,8.12263119 L1.6,8.12263119 C2.6,6.5560367 4.68571429,3.36482569 5.6,2.20438532 C6.02857143,1.65317615 6.71428571,1.10196697 7.17142857,1.189 C7.6,1.27603303 7.91428571,1.94328624 8.05714286,2.34944037 C8.17142857,2.63955046 8.48571429,2.81361651 8.77142857,2.69757248 C9.05714286,2.58152844 9.22857143,2.26240734 9.11428571,1.97229725 C8.71428571,0.840867891 8.14285714,0.17361468 7.37142857,0.0285596337 C6.17142857,-0.20352844 5.05714286,1.04394495 4.74285714,1.42108807 C3.51428571,2.95867156 0.571428571,7.60043303 0.142857143,8.26768624 C0.0571428571,8.38373028 0,8.49977431 0,8.64482936 L0,13.895822 C0,13.953844 0,14.0118661 0.0285714286,14.0408771 C0.0285714286,14.1859321 0.771428571,16.7969229 4.6,17 Z M16.2857143,9.25406055 L19.0571429,9.25406055 L21.0285714,9.25406055 L23.8,9.25406055 L23.8,13.808789 C23.6857143,14.1569211 22.9428571,15.7815376 20.0571429,15.8395596 C17.1714286,15.7815376 16.4285714,14.1569211 16.3142857,13.808789 L16.3142857,9.25406055 L16.2857143,9.25406055 Z M5.85714286,9.25406055 L8.62857143,9.25406055 L8.62857143,13.808789 C8.51428571,14.1569211 7.77142857,15.7815376 4.88571429,15.8395596 C2,15.7815376 1.25714286,14.1569211 1.14285714,13.808789 L1.14285714,9.25406055 L3.91428571,9.25406055 L5.85714286,9.25406055 Z' id='Shape'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
        }

        .page h1 {
            font-size: 1.6rem;
            opacity: .6;
        }

        #page-title {
            font-size: 1.6rem;
            font-weight: bold;
            text-transform: uppercase;
            opacity: .8;
        }

        input,
        textarea {
            border-bottom: 1px solid black;
            opacity: .6;
            font-size: 1.4rem;
            color: black;
            padding: 16px 0;
            width: 100%;
            margin-bottom: 10px;
            font-family: Calibri, sans-serif;
            transition: opacity .2s ease;
        }

        .is_required {
            /* asterisk image for required fields  */
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='5' height='6' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M4.523 4.429l-1.668-1.08.11 1.975h-.93l.11-1.982L.477 4.429l-.458-.793 1.777-.896-1.777-.902.458-.807 1.668 1.115-.11-2.01h.93l-.11 2.01L4.523 1.03l.458.807-1.77.902 1.77.896z' fill='red' fill-rule='evenodd' opacity='1'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-position: right 10px;
        }

        input:focus,
        textarea:focus {
            opacity: 1;
        }

        input[type=date],
        input[type=time] {
            color: rgba(0, 0, 0, .7);
            height: 49px;
            box-sizing: border-box;
        }

        input::placeholder,
        textarea::placeholder {
            color: rgba(0, 0, 0, .7);
        }

        form#fill-details {
            display: flex;
            position: relative;
        }

        form#fill-details>div {
            margin-right: 30px;
            width: 50%;
        }

        form#fill-details>div:last-child {
            margin-right: 0;
        }

        #appoitment-details {
            display: flex;
            flex-direction: column;
            flex: 1;
        }

        #app_purpose {
            flex: 1;
            resize: vertical;
        }

        button {
            text-transform: uppercase;
            padding: 10px 20px;
            font-weight: 500;
        }

        button {
            background: #81C5DE;
            border: 1px solid #669FB4;
            border-radius: 100px;
            color: white;
            opacity: .8;
            cursor: pointer;
        }

        button.inactive {
            opacity: 0.3 !important;
            cursor: not-allowed;
        }

        button:hover,
        button:focus {
            opacity: 1;
        }

        button.no_bg {
            background: transparent;
            border: none;
            border-radius: 0;
            color: #434343;
            opacity: .4;
        }

        button.no_bg:hover {
            background: transparent;
            border: none;
            border-radius: 0;
            color: #434343;
            opacity: .5;
        }

        button.green {
            background: #A9DE81;
            border-color: #7EC548;
            color: #fff;
        }


        button.inactive:hover,
        button.inactive:focus {
            opacity: .3 !important;
        }

        main {
            margin-bottom: 20px;
        }

        footer {
            text-align: right;
        }

        #summary_list {
            text-transform: uppercase;
            list-style: none;
            font-size: 1.6rem;
            color: #9D9D9D;
            line-height: 2.2rem;
        }

        #summary_list span {
            color: #000;
        }